# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular Languages used by Data Scientists
* Common Libraries used by Data Scientists
* Open Source Tools used by Data Scientists
* Some examples evaluating arithmetic expressions

#### Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) SQL
4) Java

#### Some of the commonly used data science libraries are:

1) Matplotlib
2) Pandas
3) Keras
4) TensorFlow

| Data Science Tools |
| ---- |
| Jupyter Labs |
| Anaconda |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Ty O'Brien